<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true"  scan="true" scanPeriod="30000">

	<!-- 日志输出格式 -->
	<property name="ENCODER_PATTERN" value="%d{yyyy-MM-dd  HH:mm:ss.SSS} [%thread] %-5level %logger{80} - %msg%n" />

	<!-- 控制台日志：输出全部日志到控制台 -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>${ENCODER_PATTERN}</Pattern>
		</encoder>
	</appender>

	<root>
		<level value="ERROR" />
		<appender-ref ref="STDOUT" />
	</root>
</configuration>

